@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html,
.light {
  background-color: #e2e2e2;
  transition: background 0.5s;
}

.dark {
  background-color: #202020;
  transition: background 0.5s;
}

.shimmer-item {
  width: 320px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.shimmer-img-light {
  width: 100%;
  height: 70%;
  background: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 50%, #f0f0f0 100%);
  animation: shimmer-animation 1.5s infinite linear;
}

.shimmer-img-dark {
  width: 100%;
  height: 70%;
  background: linear-gradient(to right, #2d2d2d 0%, #1a1a1a 50%, #2d2d2d 100%);
  animation: shimmer-animation 1.5s infinite linear;
}

@keyframes shimmer-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.foot {
  padding-left: 10px;
  padding-right: 10px;
}

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
}
